<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <title></title>
  <style>
  body {
    font-family: monospace;
    line-height: 1.5;
    background-color: #000000;
    padding: 20px;
  }
  button {
    font-size: 14px;
    background: #000000;
    color: #7AC143;
    border: none;
    outline:none;
    padding: 4px 8px;
    letter-spacing: 1px;
  }
  button:hover {
    background: #7AC143;
    color: #130C0E;
  }
  </style>
</head>

<body>
  <audio id="audioElement" src="{{ url_for('static', filename = 'gg.mp3') }}"></audio>
  <div>
    <button onclick="document.getElementById('audioElement').play()">Play &#9658;</button>
    <button onclick="document.getElementById('audioElement').pause()">Pause ||</button>
    <button onclick="document.getElementById('audioElement').volume+=0.1">Vol +</button>
    <button onclick="document.getElementById('audioElement').volume-=0.1">Vol -</button>
  </div>
  <script src="https:///d3js.org/d3.v4.min.js"></script>

  <script>
  document.querySelector('button').addEventListener('click', function() {
  var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
  var audioElement = document.getElementById('audioElement');
  audioElement.crossOrigin = "anonymous";

  var audioSrc = audioCtx.createMediaElementSource(audioElement);
  var analyser = audioCtx.createAnalyser();

  audioSrc.connect(analyser);
  audioSrc.connect(audioCtx.destination);

  var frequencyData = new Uint8Array(200);

  var svgHeight = 600,
  svgWidth = 960;

  var svg = d3.select('body').append('svg')
  .attr('width', svgWidth)
  .attr('height', svgHeight);

  function renderChart() {
    requestAnimationFrame(renderChart);
    analyser.getByteFrequencyData(frequencyData);


   var radiusScale = d3.scaleLinear()
    .domain([0, d3.max(frequencyData)])
    .range([0, svgHeight/2 -10]);

   var hueScale = d3.scaleLinear()
    .domain([0, d3.max(frequencyData)])
    .range([0, 360]);


    // console.log(frequencyData)
    var circles = svg.selectAll('circle')
    .data(frequencyData);

    circles.exit().remove(); 

    circles.enter().append('circle')
    .merge(circles)
      .attr('r', function(d) { return radiusScale(d)})
      .attr('cx', svgWidth / 2)
      .attr('cy', svgHeight / 2)
      .style('fill', 'none')
      .style('stroke-width', 4)
      .style('stroke-opacity', 0.4)
      .style('stroke', function(d) { return d3.hsl(hueScale(d), 1, 0.50); });
    //circles.exit().remove(); 
  }
  renderChart();
  d3.select(self.frameElement).style('height', '700px');


});
  </script> 
</body>
</html>